NEXT_PUBLIC_CLIENT_ENDPOINT=http://localhost:8081

NEXT_PUBLIC_SERVER_ENDPOINT=http://localhost:8080
NEXT_PUBLIC_GOOGLE_OAUTH_REDIRECT=http://localhost:8080/auth/oauth/google

NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=""
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_SECRET=""

## JWT
## for 1 day - 86400 = 1* 24 * 60 * 60
REACT_APP_JWT_TIMEOUT=86400
REACT_APP_JWT_SECRET=""